<header>
  <nav>
    <div class="nav-wrapper">
      <a href="<%- url_for() %>" class="brand-logo" id="logo">Blog</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% for (var i in theme.menu){ %>
          <li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
        <% } %> 
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <% for (var i in theme.menu){ %>
          <a href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>  
      </ul>
    </div>
  </nav>
</header>